<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8" />
  <title>Perfil de <%= nomeDoUsuario %>
  </title>
  <link rel="stylesheet" href="/perfil.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>

<body class="container">
  <main>
    <div class="container-user">
      <div class="user-background">
        <div class="avatar"></div>
      </div>
      <div class="user">
        <p>
          <%= nomeDoUsuario %>
        </p>
        <span>
          <%= idadeDoUsuario %> anos
        </span>
      </div>
    </div>
  </main>
</body>

</html>